@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Black.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Light.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../../../packages/pretendard/dist/web/static/woff2/Pretendard-Thin.woff2') format('woff2'), url('../../../packages/pretendard/dist/web/static/woff/Pretendard-Thin.woff') format('woff');
}

/* inter-100 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/inter-v12-latin-100.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-100.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-200 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/inter-v12-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-200.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-300 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/inter-v12-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-regular - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-500 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/inter-v12-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-600 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter-v12-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-700 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-800 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/inter-v12-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-800.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-900 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/inter-v12-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/inter-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inter-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inter-v12-latin-900.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inter-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inter-v12-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
  }