@media screen and (max-width:1024px) {
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_hover {
        position: absolute;
        width: 17.578vw;
        height: 5.078vw;
        opacity: 0;
        transition: 0.1s;
        /* top:-3px; */
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_hover p {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 1.758vw;
        letter-spacing: -0.02em;   
        color: #FFFFFF;
    }


    /* header */

    #wrap #header {
        height: 48px;

    }

    #wrap #header .wrap .container ul li {
        display: none;

    }

    #wrap #header .wrap .container ul li a {
        color: #FFFFFF;
        font-size: 18px;
    }

    #wrap #header .m_menu {
        width: 24px;
        height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #wrap #header .wrap>a img {
        width: 150px;

    }

    .slider .slide_tit>li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: auto;
        width:95px;
        height:53px;
        /* height: 100px; */
    }

    .slider .slide_tit>li .bar {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 4px;
        border-radius: 10px;
        background: #FFFFFF;
    }

    .slider .slide_tit>li .bar_wrap {
        width: 100%;
        height: 4px;
        position: relative;
        bottom: -35px;
        left: 0;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
    }

    #wrap #main .wrap .section_wrapper #section_banner #mobileCSS {
        left: 5%;
    }

    #wrap #main .wrap .section_wrapper #section_banner #mobileCSS_1 {
        top: auto;
        bottom: 38%;
        left: 5%;
    }

    #wrap #main .wrap .section_wrapper #section_banner .scroll_container {
        position: absolute;
        top: 87%;
        left: 49.375vw;
    }

    
    #wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper {
        width: 90.234vw;
        margin: 0 auto;
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .header .title_wrapper {
        font-size: 24px;
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap {
        width: 90.234vw;
    
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container {}


    #wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul {
        height: 321px;
    }

    #wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li {
        height: 80px;

    }

    #wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li a {
        font-size: 40px;
    }

    #wrap #main .wrap .section_wrapper_1 #section_menu {
        width: 100%;
        padding: 0 0 30px 0;
        height: 753px;
        display: flex;
        align-items: flex-end;
    }
    

    /* index_footer */

    #wrap #footer .footer_wrapper_1 {
        height: 129px;
    }

    #wrap #footer .footer_wrapper_1 .wrap {
        width: 90.234vw;
        height: 40px;
    }

    #wrap #footer .footer_wrapper_1 .wrap .container ul li a {
        font-size: 1.172vw;
    }


    #wrap #footer .footer_wrapper_1 .wrap .container .logo {
        width: 14.706vw;
        height: 21px;
    }

    #wrap #footer .footer_wrapper_1 .wrap .copyright {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 300;
        font-size: 1.176vw;
        line-height: 14px;
        color: #6C6C6C;
    }

    #wrap #footer .footer_wrapper_1  .wrap .container {
        margin-bottom: 7px;
    }

    /* 공통 footer */

    #wrap #footer .footer_wrapper {
        height: 129px;
    }

    #wrap #footer .footer_wrapper .wrap {
        width: 90.234vw;
        height: 40px;
    }

    #wrap #footer .footer_wrapper .wrap .container ul li a {
        font-size: 1.172vw;
    }


    #wrap #footer .footer_wrapper .wrap .container .logo {
        width: 14.706vw;
        height: 21px;
    }

    #wrap #footer .footer_wrapper .wrap .copyright {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 300;
        font-size: 1.176vw;
        line-height: 14px;
        color: #6C6C6C;
    }

    #wrap #footer .footer_wrapper  .wrap .container {
        margin-bottom: 7px;
    }

    /* about us */

    #wrap #main .wrap .section_wrapper #section_goal {
      height:100vh;

    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap {
        top: 91px;
        top: 8.887vw;
        /* height: 587px; */
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title h1 {
        font-size: 2.539vw;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title_wrapper h1 {
        font-size: 26px;
        width: 88%;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce {
        width: 90%;
        margin-top: 2.93vw;
        margin-bottom: 7.715vw;
    }


    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .title h2 {
        font-size: 2.344vw;
        margin: 0 0 1.5vw 0;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .detail h2 {
        font-size: 1.758vw;
        line-height: 2.734vw;
    }


    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal {
        /* top: 160px; */
        top: 16vw;
    }

    /* News */

    #wrap #main .wrap .section_wrapper #section_news {
        position: relative;
        top: 0px;
        left: 0px;
        height: 100vh;
    
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap {
        width: 90%;
        margin: 91px auto 0px
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap h2 {
        margin-bottom: 17px;
        font-size: 26px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a>span {
        width: 80px;
        height: 20px;
        margin-bottom: 18px;
        line-height: 20px;
        font-size: 1.172vw;
    }
    

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a img {
        width: 28.906vw;
        object-fit: cover;
        margin-bottom: 12px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 {
        position: relative;
        margin: 0 0 10px 0;
    }


    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .category {
        margin: 0 8px 0 0;
        font-size: 18px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .bar {
        display: inline-block;
        position: absolute;
        width: 1px;
        height: 13px;
        background: #929292;
        top: 4px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .day {
        font-size: 12px;
        line-height: 14px;
        /* letter-spacing: -0.02em; */
        margin: 0 0 0 9px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a>p {
        font-size: 12px;
        line-height: 20px;
        /* letter-spacing: -0.02em; */
        color: #000000;
    }


    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a {
        padding: 18px 0 22px 0;
    }

    .swiper-button-next {
        width: 12px;
        height: 20px;
        background: url(/images/btn_arrow.png) no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .swiper-button-prev {
        width: 12px;
        height: 20px;
        background: url(/images/btn_arrow.png) no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pagination {
        position: absolute;
        /* top: -10px; */
        /* background-color: rgb(144, 124, 255); */
    }


    .fib {

        width: 135px;
        height: 20px;
        left: 50%;
        transform: translatex(-50%);
        position: relative;
    }


    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {


        font-size: 16px;
        color: #000000;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;

    }

    /* carrers */

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.02em;
        color: rgb(255, 255, 255);
        text-shadow: rgba(29, 5, 108, 0.7) 3px 3px 8px;
        margin: 0px 0px 17px;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_pc {
        width: 4.711vw;
        height: 4.711vw;
    }

    #wrap #main .wrap .section_wrapper #section_career .scroll_container {}

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile_2 {
        position: absolute;
        width: 180px;
        height: 52px;
        opacity: 0;
        transition: all 0.1s ease 0s;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile_2 p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 18px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-size: 30px;
        margin: 0px 0px 11px;
    }
    

    /* section_we */
    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line .bold {
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        color: #000000;
    }

    #wrap #main .wrap .section_wrapper #section_we {
        width: 100%;
        /* height:574px; */
        /* padding: 0px 0px 40px; */
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper {
        width: 90.234vw;
        margin: 0px auto;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul {
        /* padding: 59px 0 40px 0; */
        padding: 60px 0 35px 0;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li {
        width: 100%;
        padding: 4vw 0 4vw 0;
    }


    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line {
        border-top: none;
        height: 84px;
    }

    
    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal {
        border-top: none;
        height: 75px;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal .bold {
        font-size: 46px;
        line-height: 55px;
        letter-spacing: -0.02em;
        padding-bottom: 29px;
    }
    

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li a {
        font-size: 40px;
        font-size: 24.3158px;
        line-height: 29px;
        letter-spacing: -0.02em;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line .bold {

        margin-bottom: 29px;
    }
    
    #wrap #main .wrap .section_wrapper #section_welfare .banner .title p {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
    }

    #wrap #main .wrap .section_wrapper #section_content ul {
        width: 90.234vw;
        display: flex;
        justify-content: flex-start;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li {
        padding: 5vw 0 0 0;
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        /* 2023.01.24 width 를 고정으로 33% 주면 더이상 공간이 없어서 공백을 줄 수 없음
            따라서 calc로 100% 를 3으로 나누고 20px 만큼 공백을 만들어서 margin-right 사용함 calc의 사용법은 써있는대로 나눌수 있고 마지막 마이너스는 저만큼 공백을 남기겠다는거임.
        */
    }


    #wrap #main .wrap .section_wrapper #section_content ul li img {
        margin: 0 0 4vw 0;
      
    }

    /* #wrap #main .wrap .section_wrapper #section_content ul li p {
        font-size: 1.953vw;
        line-height: 24px;
        margin: 54px 0 62px 0;
    } */


    #wrap #main .wrap .section_wrapper #section_content ul li .middle_line {
        background-image: url(/images/benefit_icon/middle_line.png);
        width: 35.946vw;
        height: 2.162vw;
        margin-bottom: 3vw;
    }
    
    #wrap #main .wrap .section_wrapper #section_content ul li .text_box{
        width: 100%;
        height:92px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vw;
    }
    
    #wrap #main .wrap .section_wrapper #section_content ul li .text_box p {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 1.953vw;
        line-height: 2.930vw;
    }
    
    /* contact*/


    #wrap #main .wrap .section_wrapper #section_contact {
        height: 100vh;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap {
        width: 90.588vw;
        margin-top: 91px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap>h2 {
        font-size: 26px;
        margin-bottom: 35px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:first-of-type {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
    }


    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location h2 {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;
        margin: 0 0 17px 0;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:nth-of-type(2) {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-bottom: 17px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location .line_3 {
        margin-bottom: 17px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:last-of-type {
        font-size: 14px;
        line-height: 24px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact iframe {
        width: 470px;
        height: 320px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location {
        /* margin: 0 164px 0 0; */
    }


}

@media screen and (max-width:740px) {
  
    /* header */
    #wrap #header {
        height: 14vw;
        padding: 0 2.162vw 0 2.162vw;
    }

    #wrap #header .m_menu {
        width: 6.405vw;
    }

    #wrap #header .wrap>a img {
        width:31.081vw;
        height:4.535vw;
    }

    .home .swiper-horizontal>.swiper-pagination-bullets, .home .swiper-pagination-bullets.swiper-pagination-horizontal {
        justify-content: flex-start;
        margin-left: 1.162vw;
    }

    /* section_banner */

    #wrap #main .wrap .section_wrapper #section_banner .scroll_container {
    display: none;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header img {
        width: 9vw;
        height: 9vw;
        /* margin-bottom: 21px; */
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header .title {
        font-size: 4vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title {
        font-size: 5vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer {}


    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a {
        width: 24.324vw;
        height: 7.297vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a .click_btn {
        font-size: 3.2vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header img {
        width: 9vw;
        height: 9vw;
    }

    /* content_2 */
    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header img {
        width: 9vw;
        height: 9vw;
        /* margin-bottom: 21px; */
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header .title {
        font-size: 4vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title {
        font-size: 5vw;
        margin-bottom:1.757vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer {}


    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a {
        width: 24.324vw;
        height: 7.297vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a .click_btn {
        font-size: 3.2vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header img {
        width: 9vw;
        height: 9vw;
        margin-bottom:3.243vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner #mobileCSS {
        top:57%;
        bottom: 15%;
        left: 2.162vw;
    }

    #wrap #main .wrap .section_wrapper #section_banner .banner {}

    #wrap #main .wrap .section_wrapper #section_banner .banner #pc {
        display: none;
    }

    #wrap #main .wrap .section_wrapper #section_banner .banner #mobile {
        width: 100%;
        /* height: 100vh; */
        display: block;
        object-fit: cover;
    }

    /*section_product */

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap {
        width: calc(100% - 32px);
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .header .title_wrapper {
        font-size: 4.865vw;
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container {
        background-size: contain;
        width: 95.676vw;
        position: relative;
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .darkness {
        display: none;
    }


    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer_cover {
        display: flex;
        position: absolute;
        bottom: 1em;
        left: 1em;
        flex-direction: column;
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer_cover h2 {
        font-weight: 600;
        font-size: 3.955vw;
        /* line-height: 33px; */
        color: #FFFFFF;
        margin: 0 0 0.2em 0;
    }
    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer_cover .more_btn {
        width: 14.865vw;
        height:5vw;
        /* height: 36px; */
        border-radius: 20px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer_cover .more_btn p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 2.542vw;
        color: #000000;
    }

    /*section_menu*/

    /* #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper {
        width: 95%;
    }

    #wrap #main .wrap .section_wrapper #section_menu {
        padding: 0 0 51px 0;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul {
        height: 313px;
    } */

    #wrap #main .wrap .section_wrapper_1 #section_menu {
        width: 100%;
        padding: 0px 0 34px 0;
        height: 753px;
        display: flex;
        align-items: flex-end;
    }
    
    #wrap #main .wrap .section_wrapper_1  #section_menu .menu_wrapper ul li {
        /* height: 78px; */
        padding:0.5rem 0;
    }

    #wrap #main .wrap .section_wrapper_1  #section_menu .menu_wrapper ul li:last-child {
        border-bottom: none;
    }

    #wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li a {
        font-size: 4.865vw;
        line-height: 43px;
    }

    /* footer */
    #wrap #footer .footer_wrapper_1 {
        height: 154px;
        background: #051417;

    }

    #wrap #footer .footer_wrapper_1 .wrap {
        align-items: center;

    }

    #wrap #footer .footer_wrapper_1 .wrap .container {
        flex-direction: column;
    }

    #wrap #footer .footer_wrapper_1 .wrap .container .logo {
        background-image: url("../images/CI.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 230px;
        height: 33.56px;
    }

    #wrap #footer .footer_wrapper_1 .wrap .container ul {
        display: none;
    }

    #wrap #footer .footer_wrapper_1 .wrap .copyright {
        font-weight: 300;
        font-size: 14px;
    }

    /* footer 공통*/
    #wrap #footer .footer_wrapper {
        height: 154px;
        background:#000000;

    }

    #wrap #footer .footer_wrapper .wrap {
        align-items: center;

    }

    #wrap #footer .footer_wrapper .wrap .container {
        flex-direction: column;
    }

    #wrap #footer .footer_wrapper .wrap .container .logo {
        background-image: url("../images/CI.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 230px;
        height: 33.56px;
    }

    #wrap #footer .footer_wrapper .wrap .container ul {
        display: none;
    }

    #wrap #footer .footer_wrapper .wrap .copyright {
        font-weight: 300;
        font-size: 14px;
    }


    /*section_goal */

    #wrap #main .wrap .section_wrapper #section_goal {
        height: 100vh
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap {
        /* height: 739px; */
        top: 19.351vw;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title {
        margin: 0 0 1.622vw 0;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title h1 {
        font-size: 4.865vw;
    }


    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .banner img {
        width: 100%;

    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal {
        top: 20vw;
        transform: none;
        left: 2vw;
        width: 41.486vw;
    }
    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .banner #mobile {
        display: block;
    }
    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .banner #pc {
        display: none;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal h2 {
        font-size:3.784vw;
        margin: 0 0 1.757vw 0px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal p {
        font-weight: 700;
        font-size: 4.865vw;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce {
        width: 95%;
        margin-top: 5.676vw;
        margin-bottom: 9.459vw;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .title h2 {
        font-size: 4.865vw;
        margin: 0 0 2vw 0;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .detail h2 {
        font-size: 3.243vw;
        line-height: 5vw;
    }

    /*section_news*/

    #wrap #main .wrap .section_wrapper #section_news {
        position: relative;
        top: 0px;
        left: 0px;
        height:100%;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap {
        width: 95%;
        margin-top: 16.486vw;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .pagination_wrap {
        width: 100%;
        display: block;
        margin-top: 39px;
        margin-bottom: 60px;
        text-align: center;
        position: relative;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list {
        display: block;
        border-bottom: none;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li {
        z-index: 2;
        width: 100%;
        display: block;
        margin: 0px 0px 0px 0px;
    }
    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li:last-child {
        margin-bottom: 13.514vw;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a {
        padding: 4.054vw 0px 0px 0px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a img {
        width: 100vw;
        object-fit: cover;
        margin-bottom: 1.622vw;
        position: relative;
        z-index: 1;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap h2 {
        font-weight: 700;
        font-size: 4.865vw;
        margin-bottom: 1.486vw;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a>span {
        position: absolute;
        z-index: 2;
        margin: 2% 0 0 2%;
        font-size: 2.162vw;
        margin-bottom: 18px;
        width: 13.784vw;
        height: 3.514vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a>p {
        font-size: 3.243vw;
        line-height:4.595vw;


    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .category {
        margin: 0 1.351vw 0 0;
        font-size: 3.243vw;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .bar {
        display: inline-block;
        position: absolute;
        width: 0.27vw;
        height: 2.432vw;
        background: #929292;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .day {
        margin: 0 0 0 11px;
        font-size: 2.703vw;
        margin: 0 0 0 1.486vw;
        top:0.541vw;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 {
        margin: 0 0 1.757vw 0;
        
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .pagination_wrap {

        display: none;
    }

    /* section_contact */

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact {
        flex-direction: column-reverse;
        height: auto;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact iframe {
        width: 100%;
        /* height: 43.243vw; */
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap {
        width: 100%;
        margin-top: 16.486vw;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap>h2 {
        margin-bottom: 1.486vw;
        font-size: 4.865vw;
        letter-spacing: -0.02em;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location {
        padding: 0 0 0 16px;
        margin: 47px 0 0 0;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:first-of-type {
        font-weight: 500;
        font-size: 2.162vw;
        /* line-height: 17px; */
        letter-spacing: 0.04em;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location h2 {

        margin: 0 0 4.73vw 0;
        font-weight: 500;
        font-size: 3.784vw;
        line-height: 33px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:nth-of-type(2) {
        margin-bottom: 4.595vw;
        font-size: 3.243vw;
        line-height: 4.595vw;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location {
        padding: 0 0 0 2.162vw;
        margin: 6.351vw 0 0 0;
        width: 60.405vw;
     
    }

    #wrap #main .wrap .section_wrapper #section_contact {
        /* height: 810px; */
        height:100vh;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location .line_3 {
        margin-bottom: 3.784vw;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:last-of-type {
        font-size: 3.243vw;
        line-height: 4.595vw;
    }


    /* section_content*/

    #wrap #main .wrap .section_wrapper #section_content  {
        padding-top: 60px;
    }

    #wrap #main .wrap .section_wrapper #section_content ul {
        width: 82.703vw;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li {
        background: #FFFFFF;
        padding: 6vw 0 0 0;
        width: calc(100% / 2 - 20px);
    }

    #wrap #main .wrap .section_wrapper #section_content ul li:nth-child(2n) {
        margin-right:0px
    }

    #wrap #main .wrap .section_wrapper #section_content ul li img {
        margin: 0 0 5vw 0;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li p {
        font-size: 3.784vw;
        line-height: 24px;
        margin: 28px 0 36px 0;
        text-align: center;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li .text_box {
        margin-bottom: 3vw;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li .circle {
        top: 60%;
    }



    /* section_we */

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal .bold {
        font-size: 7.027vw;
        padding-bottom: 55px;

    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul {
        padding: 9.459vw 0 6.757vw 0;
    }



    #wrap #main .wrap .section_wrapper #section_we {
        width: 100%;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li {
        width: 100%;
        padding: 6vw 0 6vw 0;
    }


    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li a {
        font-size: 4.324vw;
        line-height: 5.676vw;
        text-align: center;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line {
        border-top: none;
        height: 14.459vw;;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line .bold {
        font-size: 7.027vw;
        margin-bottom: 7.432vw;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper {
        width: 82.703vw;
        margin: 0px auto;
    }


    /* section_career */

    #wrap #main .wrap .section_wrapper #section_career .banner #pc {
        width: 100%;
        object-fit: cover;
        display: none;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner #mobile {
        display: block;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container {
        width: 100%;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-weight: 700;
        font-size: 7.027vw;
        letter-spacing: -0.02em;
        color: rgb(255, 255, 255);
        text-shadow: rgb(29 5 108 / 70%) 3px 3px 8px;
        margin: 0px 0px 14px;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_pc {
        display: none;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile {
        display: block;
        width: 42.432vw;
        /* height: 90px; */
        position: relative;
        cursor: pointer;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 4.865vw;
        color: #FFFFFF;
    }



    #wrap #main .wrap .section_wrapper #section_career .scroll_container {
        display: none;
    }


    /* section_welfare */
    
    #wrap #main .wrap .section_wrapper #section_welfare .banner .title {
        width: 100%;
    }


    #wrap #main .wrap .section_wrapper #section_welfare .banner .title p {
        font-weight: 700;
        font-size: 7.027vw;
        line-height: 36px;
        letter-spacing: 0.04em;
    }


    #wrap #main .wrap .section_wrapper #section_welfare .banner img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    


    #wrap #main .wrap .section_wrapper #section_content ul li .text_box p {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 3.784vw;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        line-height: 5.135vw;
        color: #000000;
  }

}