@media screen and (max-width:1024px) {

    /* header */

    #wrap #header {
        height: 48px;
        
    }


    #wrap #header .wrap .container ul li {
        display: none;

    }

    #wrap #header .wrap .container ul li a {
        color: #FFFFFF;
        font-size: 18px;
    }

    #wrap #header .m_menu {
        width: 24px;
        height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #wrap #header .wrap>a img {
    width:150px;

    }


    /* main*/
    #wrap #main .wrap .section_wrapper #section_banner .banner {

    }

    #wrap #main .wrap .section_wrapper #section_banner .banner img {
   
    }
/* 
    #wrap #main .wrap .section_wrapper #section_banner .content {
        position: absolute;
        top: 18.055555555555557vh;
        left: 10.417vw;
        width: 48.385vw;
        height: 406px;
        background-color:pink ;
        z-index: 1;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header .title {
        width: 100%;
        height: 43px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #FFFFFF;
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    }
    
    
    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer {
        width: 25.977vw;

    }
    
    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a {
        width: 128px;
        height: 38px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a .click_btn {
        font-size: 18px;
        line-height: 21px;

    } */

    #wrap #main .wrap .section_wrapper #section_banner .Preview_container {
        width: 20%;
    }

    #wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper {
        position: relative;
        width: calc(50% - 10px);
    }
    
    
    #wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper .indicator {
        position: absolute;
        width: 100%;
        height: 3.5px;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        margin: 2.8px 0 0 0;
    }

    #wrap #main .wrap .section_wrapper #section_product .header .title_wrapper {
        font-size: 24px;
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap {
        width: 90.234vw;
        margin: 0 auto;
        /* background-color: pink; */
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container {

    }

    
    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul {
        /* width: 1520px; */
        height: 328px;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li {
        height: 80px;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li a {
        font-size: 40px;
    }


    /* footer */

    #wrap #footer .footer_wrapper {
        height: 129px;
    }

    #wrap #footer .footer_wrapper .wrap {
        width: 90.234vw;
        height: 40px;
    }

    #wrap #footer .wrap .container ul li a {
        font-size: 1.172vw;
    }


    #wrap #footer .wrap .container .logo {
        width: 14.706vw;
        height: 21px;
    }

    #wrap #footer .wrap .copyright {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 300;
        font-size: 1.176vw;
        line-height: 14px;
        color: #6C6C6C;
    }

    #wrap #footer .wrap .container {
        margin-bottom: 7px;
    }

/*---------------------------------------about us------------------------------ */

    #wrap #main .wrap .section_wrapper #section_goal {
        height:757px;
        
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap {
        top:91px;
        height: 587px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title_wrapper h1 {
        font-size: 26px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce {
        margin-top: 45px;
        width:90%;
    }


    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .title h2 {
        font-size: 24px;
        margin: 0 0 6px 0;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .detail h2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;   
        color: #000000;
    }

    
    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal {
        top: 160px;
    }

    /*---------------------------------------News------------------------------ */

    #wrap #main .wrap .section_wrapper #section_news {
        position: relative;
        top: 0px;
        left: 0px;
        height: 607px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap {
        width: 90%;
        margin: 91px auto 0px
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap h2 {
        margin-bottom: 17px;
        font-size: 26px;
    }
    
    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a > span {
        width: 80px;
        height: 20px;
        margin-bottom: 18px;
        line-height: 20px;
    }
    #wrap #main .wrap .section_wrapper #section_news .container_wrap  .news_list li a img{
        width:28.906vw;
        object-fit: cover;
        margin-bottom: 12px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1  {
        position: relative;
        margin: 0 0 10px 0;
    }


    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .category {
        margin: 0 8px 0 0;
        font-size: 18px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .bar {
        display: inline-block;
        position: absolute;
        width: 1px;
        height: 13px;
        background: #929292;
        top: 4px;
    }
    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .day {
        font-size: 12px;
        line-height: 14px;
        /* letter-spacing: -0.02em; */
        margin: 0 0 0 9px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a >p {
        font-size: 12px;
        line-height: 20px;
        /* letter-spacing: -0.02em; */
        color: #000000;
    }


    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a {
        padding: 18px 0 22px 0;
    }

 /* ----------------------------------carrers-------------------------------------- */
    
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.02em;
        color: rgb(255, 255, 255);
        text-shadow: rgba(29, 5, 108, 0.7) 3px 3px 8px;
        margin: 0px 0px 17px;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_pc {
        width: 55px;
        height: 55px;
    }

    #wrap #main .wrap .section_wrapper #section_welfare .banner .title p {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
    }

    
    #wrap #main .wrap .section_wrapper #section_we {
        width: 100%;
        height: 471px;
        padding: 0px 0px 40px;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper {
        width:90.234vw;
        margin: 0px auto;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul {
        padding: 59px 0 40px 0;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li {
        width: 100%;
        /* height: 99px; */
        padding: 35px 0 35px 0;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal {
        border-top: none;
        height:75px;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal .bold {
        font-size: 46px;
        line-height: 55px;
        letter-spacing: -0.02em;
        padding-bottom: 29px;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li a {
        font-size: 40px;
        font-size: 24.3158px;
        line-height: 29px;
        letter-spacing: -0.02em;
    } 

    #wrap #main .wrap .section_wrapper #section_content ul{     
        width:90.234vw;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li {
        padding:46px 0 0 0 ;
        width:33.33%;
    }


    #wrap #main .wrap .section_wrapper #section_content ul li img {
        margin: 0 0 42px 0;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li p {
        font-size: 1.953vw;
        line-height: 24px;
        margin: 54px 0 62px 0;
    }
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-size: 30px;
        margin: 0px 0px 17px;
    }
    

/* ----------------------------------contact-------------------------------------- */


    #wrap #main .wrap .section_wrapper #section_contact {
        height:489px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap {
        width: 90.588vw;
        margin-top: 91px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap > h2 {
        font-size: 26px;
        margin-bottom: 35px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:first-of-type {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
    }
    

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location h2 {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.02em;
        margin: 0 0 17px 0;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:nth-of-type(2) {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-bottom: 17px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location .line_3 {
        margin-bottom: 17px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:last-of-type {
        font-size: 14px;
        line-height: 24px;
    }
    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact iframe {
        width:470px;
        height: 320px;
    }
    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location {
        margin: 0 164px 0 0;
    }
    

}

@media screen and (max-width:740px) {

    /* header */
    #wrap #header {
        height: 80px;
    }
    #wrap #header .m_menu {
        width: 40px;
    }
    #wrap #header .wrap>a img {
        width: 230px;
    }

    /* main */
    #wrap #main .wrap .section_wrapper #section_banner .Preview_container {
        width: 33.784vw;
        left: 0;
        width: 30%;
        bottom: 16px;
        left: 16px;
    }
    #wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper .indicator {
        height: 4px;
        margin: 5px 0 0 0;
    }

    
    #wrap #main .wrap .section_wrapper #section_banner .banner {
        /* width: 100%; */
        height:auto;
        /* background: url("../images/company_banner_mb.jpg") no-repeat;
        background-size: contain;
        display: block; */
    }

    #wrap #main .wrap .section_wrapper #section_banner .banner #pc {
        display:none;
    }

    #wrap #main .wrap .section_wrapper #section_banner .banner #mobile {
        width: 100%;
        /* height: 100vh; */
        display: block;
        object-fit: cover;
            /* background: url("../images/company_banner_mb.jpg") no-repeat; */
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap {
        margin: 0 auto;
        width: calc(100% - 32px);
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container {
        background-size: contain;
        width: 95.676vw;
        /* height: 420px; */
        position: relative;
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer {
        display: flex;
        /* background-color: darkgreen; */
        position: absolute;
        bottom:20px;
        left:20px;
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer h2 {
        font-weight: 600;
        font-size: 3.955vw;
        line-height: 33px;
        /* letter-spacing: -0.02em; */
        color: #FFFFFF;
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer .more_btn {
        width: 15.537vw;
        height: 45%;
        border-radius: 20px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer .more_btn p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 2.542vw;
        color: #000000;
    }


    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper {
        width: 95%;
    }

    #wrap #main .wrap .section_wrapper #section_menu {
        padding: 0 0 51px 0;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul {
        height: 313px;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li {
        height: 78px;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li:last-child {
        border-bottom: none;
    }

    #wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li a {
        font-size: 36px;
        line-height: 43px;
    }

    /* footer */
    #wrap #footer .footer_wrapper {
        height: 154px;
        background:  #051417;

    }

    #wrap #footer .footer_wrapper .wrap {
    align-items: center;
 
    }

    #wrap #footer .wrap .container {
        flex-direction: column;
    }

    #wrap #footer .wrap .container .logo {
        background-image: url("../images/CI.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 230px;
        height: 33.56px;
    }

    #wrap #footer .wrap .container ul {
        display: none;
    }

    #wrap #footer .wrap .copyright {
        font-weight: 300;
        font-size: 14px;
    }



    /*---------------------------------- about us------------------------------------------- */

    #wrap #main .wrap .section_wrapper #section_goal {
        height: 930px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap {
        height: 739px;
        top: 121px;
    } 

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title {
        margin: 0 0 12px 0;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .title h1 {
        font-size: 36px;
    }

    
    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .banner img {
        width: 100%;
        height:300px;
        object-fit: cover;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal {
        width:307px;
        top:100px;
        transform: none;
        left:12px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal h2 {
        font-size: 28px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .goal p {
        font-weight: 700;
        font-size: 36px;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce {
        width: 95%;
    }

    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .title h2 {
        font-size: 36px;
    }
    
    #wrap #main .wrap .section_wrapper #section_goal .container_wrap .introduce .detail h2 {
        font-size: 24px;
        line-height: 34px;
        /* letter-spacing: -0.02em; */
    }
    /*-------------------------------------------------------News------------------------------------------------------- */
    
    #wrap #main .wrap .section_wrapper #section_news .container_wrap {
        width: 95%;
        margin-top: 122px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list {
        display:block;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li {
        z-index: 2;
        width: 100%;
        display: block;
        margin: 0px 0px 0px 0px;
    }
    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a {
        padding: 30px 0 30px 0;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a img {
        width: 100vw;
        object-fit: cover;
        margin-bottom: 12px;
        position: relative;
        z-index: 1;
    }
    #wrap #main .wrap .section_wrapper #section_news .container_wrap h2 {
        font-weight: 700;
        font-size: 36px;
    }
    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a > span {
        position: absolute;
        z-index: 2;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a >p {
        font-size: 24px;
        line-height: 34px;
        
    
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .category {
        margin: 0 10px 0 0;
        font-size: 24px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .bar {
        display: inline-block;
        position: absolute;
        width: 1px;
        height: 20px;
        background: #929292;
        top: 4px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .day {
        margin: 0 0 0 11px;
        font-size: 20px;
    }

    #wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 {
        margin: 0 0 13px 0;
    }

    /* --------------------------------------------------contact--------------------------------------------------------- */
    
    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact {
        flex-direction: column-reverse;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact iframe {
        width: 100%;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap {
        width: 100%;
        margin-top: 122px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap > h2 {
        margin-bottom: 11px;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: -0.02em;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location {
        padding: 0 0 0 16px;
        margin: 47px 0 0 0;
    }
    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location h2 {

        margin: 0 0 35px 0;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:nth-of-type(2) {
        margin-bottom: 33px;
        font-size: 24px;
        line-height: 34px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location {
        padding: 0 0 0 16px;
        margin: 47px 0 0 0;
        width: 447px;
    }

    #wrap #main .wrap .section_wrapper #section_contact {
        height: 886px;
    }

    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location .line_3 {
        margin-bottom: 28px;
    }
    #wrap #main .wrap .section_wrapper #section_contact .container_wrap .container_contact .location p:last-of-type {
        font-size: 14px;
        line-height: 24px;
        font-size: 24px;
        line-height: 34px;
    }


    /* -------------------------------------------------carrer-------------------------------------------------------------- */

    #wrap #main .wrap .section_wrapper #section_content ul {
        width: 82.703vw;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li {
        background: #FFFFFF;
        padding: 46px 0 0 0;
        width:50%;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li img {
        margin: 0 0 37px 0;
    }

    #wrap #main .wrap .section_wrapper #section_content ul li p {
        font-size: 3.784vw;
        line-height: 24px;
        margin: 28px 0 36px 0;
    }

    
    #wrap #main .wrap .section_wrapper #section_content ul li .circle {
        top: 60%;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal .bold {
        font-size: 7.027vw;
        padding-bottom: 55px;
    
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul {
        padding: 70px 0 50px 0;
    }

    #wrap #main .wrap .section_wrapper #section_we {
        width: 100%;
        height: 827px;
        padding: 0px 0px 0px;
    }
    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li {
        width: 100%;
        height: 200px;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .tal {
        height: 107px;
    }
    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li a {
        font-size:4.324vw;
        line-height: 42px;
        text-align: center;
    }

    #wrap #main .wrap .section_wrapper #section_we .menu_wrapper {
        width: 82.703vw;
        margin: 0px auto;
    }
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.02em;
        color: rgb(255, 255, 255);
        text-shadow: rgb(29 5 108 / 70%) 3px 3px 8px;
        margin: 0px 0px 17px;
    }

    #wrap #main .wrap .section_wrapper #section_career .banner #pc {
        width: 100%;
        /* height: 100vh; */
        object-fit: cover;
        display:none;
    }
    
    #wrap #main .wrap .section_wrapper #section_career .banner #mobile {
        display: block;
    }

    

    #wrap #main .wrap .section_wrapper #section_career .banner .title_container {
        width:100%;

    }

    #wrap #main .wrap .section_wrapper #section_welfare .banner .title  {
        width:100%;
        }
        
    
    #wrap #main .wrap .section_wrapper #section_welfare .banner .title p {
        font-weight: 700;
        font-size: 7.027vw;
        line-height: 36px;
        letter-spacing: 0.04em;
    }


    #wrap #main .wrap .section_wrapper #section_welfare .banner img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
        font-weight: 700;
        font-size: 7.027vw;
        line-height: 46px;   
        margin: 0px 0px 14px;
    }

    .wrap .section_wrapper #section_career .banner .title_container .btn_pc {
       display: none;
    }
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile{
        display: block;
        width: 314px;
        height: 90px;
        position: relative;
    }
    #wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile p{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate( -50%, -50% );
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
}