

#wrap {
    width: 100%;
    background-color: #F0F2F2;
}

#wrap #main {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

#wrap #main .wrap {
    z-index: 1;
    position: relative;
}

#wrap #main .wrap .section_wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #F0F2F2;
    margin: 0 auto;
}

#wrap #main .wrap .section_wrapper #section_career {
    position: relative;
    top: 0px;
    left: 0px;

}

#wrap #main .wrap .section_wrapper #section_career .banner {
    position: relative;
    z-index: 1;
}

#wrap #main .wrap .section_wrapper #section_career .banner img {
    width: 100%;
}

#wrap #main .wrap .section_wrapper #section_career .banner #pc {
    width: 100%;
    object-fit: cover;
    display: block;
}

#wrap #main .wrap .section_wrapper #section_career .banner #mobile {
    display: none;
}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container .title {}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container .title p {
    font-weight: 700;
    font-size: 52px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 3px 3px 8px rgb(29 5 108 / 70%);
    margin: 0 0 17px 0;
}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_pc {
    /* width:4.688vw;
    height: 4.688vw; */

    width: 66px;
    height: 66px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(90deg, #2746FF 0%, #9A16FF 100%);
    box-shadow: 0px 0px 8px rgba(0, 16, 104, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s;
}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_pc .polygon {
    width: 40px;
    height: 36px;
    background-image: url('/images/polygon.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* transition: 0.5s; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: 70% 50%;
}


#wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_pc .hover_text {
    opacity: 0;
    visibility: hidden;
}


#wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_hover_trans {
    position: relative;
    cursor: pointer;
    width: 290px;
    height: 66px;
    /* width: 16.5vw;
    height: 4.5vw; */
    background: linear-gradient(90deg, #2F4EFF 0%, #A81DFF 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_hover_trans p {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    transition: 0.5s;
}

#wrap #main .wrap .section_wrapper #section_career .banner .title_container .btn_mobile {}

#wrap #main .wrap .section_wrapper #section_career .scroll_container {
    position: absolute;
    top: 87%;
    left: 48.375vw;
}

#wrap #main .wrap .section_wrapper #section_career .scroll_container .scroll_wrapper {
    width: 5.365vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: opacity .2s;
}

#wrap #main .wrap .section_wrapper #section_career .scroll_container .scroll_wrapper .mouse {
    width: 5.365vw;
    height: 2.3vw;
    background-image: url(/images/scroll.png);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes scroll {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}


#wrap #main .wrap .section_wrapper #section_career .scroll_container .scroll_wrapper .line {
    width: 0.052vw;
    height: 3.490vw;
    overflow: hidden;
    margin: 0 0 0 0.7vw;

}

#wrap #main .wrap .section_wrapper #section_career .scroll_container .scroll_wrapper .line::after {
    content: "";
    display: block;
    background: #fff;
    -webkit-animation: scroll 2s 0s infinite;
    animation: scroll 2s 0s infinite;
    height: 100%;
    box-sizing: border-box;
}

#wrap #main .wrap .section_wrapper #section_we {
    width: 100%;
    /* padding: 0 0 140px 0;
    height: 942px; */
}

#wrap #main .wrap .section_wrapper #section_we .menu_wrapper {
    width: 79.167vw;
    margin: 0 auto;
}

#wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul {
    padding: 100px 0 90px 0;
}

#wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li {
    width: 100%;
    border-top: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0 75px 0;

}

#wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line {
    border-top: none;
    height: 158px;
}

#wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul .border_line .bold {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #000000;
    margin-bottom: 70px;
}

#wrap #main .wrap .section_wrapper #section_we .menu_wrapper ul li a {
    font-weight: 500;
    font-size: 2.083vw;
    color: #565656;
}


#wrap #main .wrap .section_wrapper #section_welfare .Welfare_Benefits {
    width: 100%;
    position: absolute;
    z-index: 2;
}

#wrap #main .wrap .section_wrapper #section_welfare {
    width: 100%;
}

#wrap #main .wrap .section_wrapper #section_welfare .banner {
    position: relative;
    z-index: 1;
}

#wrap #main .wrap .section_wrapper #section_welfare .banner img {
    width: 100%;
}

#wrap #main .wrap .section_wrapper #section_welfare .banner .title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrap #main .wrap .section_wrapper #section_welfare .banner .title p {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}

#wrap #main .wrap .section_wrapper #section_content {
    width: 100%;
    Padding-top: 100px;
    padding-bottom: 75px;
}

#wrap #main .wrap .section_wrapper #section_content ul {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#wrap #main .wrap .section_wrapper #section_content ul li {
    background: #FFFFFF;
    padding: 3vw 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(100% / 4 - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
}

#wrap #main .wrap .section_wrapper #section_content ul li img {
    margin: 0 0 3vw 0;
}

#wrap #main .wrap .section_wrapper #section_content ul li .middle_line {
    background-image: url(/images/benefit_icon/middle_line.png);
    width: 16.927vw;
    height: 1.042vw;
    margin-bottom: 1.5vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#wrap #main .wrap .section_wrapper #section_content ul li .text_box {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}


#wrap #main .wrap .section_wrapper #section_content ul li .text_box p {
    font-weight: 500;
    font-size: 1.354vw;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;
    line-height: 1.615vw
}