

html {
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -ms-content-zooming: none;
    touch-action: pan-y;
}



#wrap {
    width: 100%;
    height: 100vh;
    background-color: #F0F2F2;
}

#wrap #main {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

#wrap #main .wrap {
    z-index: 1;
    position: relative;
}


#wrap #main .wrap .section_wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #39b8b8;
    margin: 0 auto;
}

/* -----------------------------------------------section_banner------------------------------------------ */
#wrap #main .wrap .section_wrapper #section_banner {
    position: relative;
    top: 0px;
    left: 0px;

}

#wrap #main .wrap .section_wrapper_1 #section_banner .banner {
    width: 100%;
}


#wrap #main .wrap .section_wrapper #section_banner .banner #pc {
    width: 100%;
    object-fit: cover;
    display: block;
}

#wrap #main .wrap .section_wrapper #section_banner .banner #mobile {
    display: none;
}

#wrap #main .wrap .section_wrapper #section_banner .content {
    position: absolute;
    top: 30%;
    left: 10.417vw;
    z-index: 1;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header {
    width: 100%;
    margin-bottom: 2vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header img {
    width: 3.594vw;
    height: 3.594vw;
    margin-bottom: 1.5vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header .title {
    width: 100%;
    font-weight: 500;
    font-size: 2vw;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: -0.02em;
}


#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body {
    margin-bottom: 3vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title {
    font-weight: 700;
    font-size: 3vw;
    /* line-height: 68px; */
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title .firstParam {
    margin-bottom: 10px;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer {
    width: 500px;
    height: 72px;
    display: flex;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a {
    width: 12.5vw;
    height: 3.75vw;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px 0 0;
}

/* 2번째 contnet */

#wrap #main .wrap .section_wrapper #section_banner .content_1 {
    position: absolute;
    top: 38%;
    left: 10.417vw;
    z-index: 1;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .header {
    width: 100%;
    margin-bottom: 2vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .header img {
    width: 3.594vw;
    height: 3.594vw;
    margin-bottom: 1.5vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .header .title {
    width: 100%;
    font-weight: 500;
    font-size: 2vw;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: -0.02em;
}


#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .body {
    margin-bottom: 3vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .body .title {
    font-weight: 700;
    font-size: 3vw;
    /* line-height: 68px; */
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .body .title .firstParam {
    margin-bottom: 10px;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .footer {
    width: 500px;
    height: 72px;
    display: flex;
}

#wrap #main .wrap .section_wrapper #section_banner .content_1 .content_wrap .footer a {
    width: 12.5vw;
    height: 3.75vw;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px 0 0;
}


#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a .click_btn {
    font-weight: 300;
    font-size: 1.8vw;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}


#wrap #main .wrap .section_wrapper .scroll_container {
    position: absolute;
    top: 87%;
    left: 49.375vw;
}



#wrap #main .wrap .section_wrapper .scroll_wrapper {
    width: 5.365vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: opacity .2s;
}


#wrap #main .wrap .section_wrapper .scroll_container .scroll_wrapper .mouse {
    width: 5.365vw;
    height: 2.3vw;
    /* background-color:blue; */
    background-image: url(/images/scroll.png);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes scroll {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}


#wrap #main .wrap .section_wrapper .scroll_container .scroll_wrapper .line {
    width: 0.052vw;
    height: 3.490vw;
    overflow: hidden;
    margin: 0 0 0 0.7vw;

}

#wrap #main .wrap .section_wrapper .scroll_container .scroll_wrapper .line::after {
    content: "";
    display: block;
    background: #fff;
    -webkit-animation: scroll 2s 0s infinite;
    animation: scroll 2s 0s infinite;
    height: 100%;
    box-sizing: border-box;
}


/*------------------------------------------------section_product------------------------------------------*/


#wrap #main .wrap .section_wrapper_1 {
    /* background-color: #F0F2F2; */
}


#wrap #main .wrap .section_wrapper_1 #section_product {
    width: 100%;
    padding: 72px 0 0 0;
}


#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap {
    width: 79.167vw;
    margin: 0 auto;
    overflow: hidden;
}


#wrap #main .wrap .section_wrapper_1 #section_product .header .title_wrapper {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0 0 15px;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 20.833vw;
}


#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container {
    width: calc(50% - 13px);
    margin: 0 0 20px 0;
    overflow: hidden;
    position: relative;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .darkness {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.1s;
    color: #F0F2F2;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container:hover .darkness {
    opacity: 1;
}


#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer {
    width: 217px;
    height: 94px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer_cover {
    display: none;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer h2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 11px;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer .more_btn {
    width: 120px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap #main .wrap .section_wrapper_1 #section_product .container_wrap .content_wrap .container .container_footer .more_btn p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}


/* ---------------------------------------------section_menu----------------------------------------------- */

#wrap #main .wrap .section_wrapper_1 #section_menu {
    width: 100%;
    padding: 0 0 140px 0;
    display: flex;
    align-items: flex-end;

}

.blackBg {
    /* background: url("../../images/change_black_bg.png") no-repeat 50% 50%; */

}

#wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper {

    width: 79.167vw;
    margin: 0 auto;
    position: absolute;
    bottom: 146px;
    left: 50%;
    transform: translate(-50%);
}

#wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul {}

#wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li {
    width: 100%;
    border-bottom: 1px solid #394C6A;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

#wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li:last-child {

    border-bottom: none;
}

#wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li a {
    font-weight: 500;
    font-size: 3.646vw;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #394C6A;
}

#wrap #main .wrap .section_wrapper_1 #section_menu .menu_wrapper ul li a:hover {
    color: #89B7FF;
}

.star_bg {
    /* background-image: url('/images/star.png'); */
    width: 100%;
    height: 600px;
}


/* 슬라이드 */
.slider {
    position: relative;
}

.slider .list>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #a6e6ff;
    font-size: 24px;
    font-weight: 500;
}

/* 슬라이드 타이틀 */
.slider .slide_tit {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.slider .slide_tit>li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    width: 178px;
    height: 100px;

}

.slider .slide_tit>li .bar_wrap {
    width: 100%;
    height: 6px;
    position: relative;
    bottom: -60px;
    left: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}


.slider .slide_tit>li .bar_wrap1,
.slider .slide_tit>li .bar_wrap3,
.slider .slide_tit>li .bar_wrap5,
.slider .slide_tit>li .bar_wrap7,
.slider .slide_tit>li .bar_wrap9 {
    background: rgba(255, 255, 255, 0.3);
}

.slider .slide_tit>li .bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 6px;
    border-radius: 10px;
    background: #FFFFFF;
}

.slider .slide_tit>li .bar1,
.slider .slide_tit>li .bar3,
.slider .slide_tit>li .bar5,
.slider .slide_tit>li .bar7,
.slider .slide_tit>li .bar9 {
    background: #FFFFFF;
}

.slider .slide_tit>li div {
    opacity: 0;
    visibility: hidden;
}

.slider .slide_tit>li.swiper-pagination-bullet-active div {
    opacity: 1;
    visibility: visible;
}

.slider .slide_tit>li.swiper-pagination-bullet-active .bar {
    animation-name: countingBar;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes countingBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* 슬라이드 버튼, 페이지 번호 */
.slider .control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: 470px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    z-index: 100;
}

.slider .control .btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #fff;
    cursor: pointer;
}

.slider .control .num {
    margin: 0 7px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.025em;
    color: #fff;
}

/* swiper 옵션은 서로 겹치지 않게 페이지마다... */
.home .swiper-pagination-bullet {
    width: 178px;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px !important;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .swiper-pagination-bullet:nth-child(1) {
    background-image: url(../../images/SFTY_banner.jpg);
}

.home .swiper-pagination-bullet:nth-child(2) {
    background-image: url(../../images/company_banner.jpg);
}

.home .swiper-pagination-bullet:nth-child(3) {
    background-image: url(../../images/SFTY_banner.jpg);
}

.home .swiper-pagination-bullet:nth-child(4) {
    background-image: url(../../images/company_banner.jpg);
}

.home .swiper-horizontal>.swiper-pagination-bullets,
.home .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
}

.news .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: auto !;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

/* footer */
#wrap #footer {
    position: relative;
    z-index: 1;
    width: 100%;
}

#wrap #footer .footer_wrapper_1 {
    width: 100%;
    height: 281px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap #footer .footer_wrapper_1 .wrap {
    width: 79.167vw;
    margin: 0 auto;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}