/* z-index 
header:100 
main:1 
wrap:1
section_wrapper :2
Preview::after :3
indicator:3
footer:1 */

.border_line {
    position: absolute;
    height: 2px;
    bottom: 26px;
    background-color: #89D4FF;
    transition: all 0.2s ease-in-out 0s;
}
.border_index {
    width: 44px;
    left: 1246px;
}
.border_Aboutus{
    width: 65px;
    left:1367px;
}

.border_News {
    width: 43px;
    left: 1511px;
}

.border_Careers {
    width: 56px;
    left: 1632px;
}

.border_Contact{
    width: 61px;
    left: 1765px;
}

#wrap {
    width: 100%;
    height: 100vh;
    background-color: #F0F2F2;
}

#wrap #main {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

#wrap #main .wrap {
    z-index: 1;
    position: relative;
}

#wrap #main .wrap .section_wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #F0F2F2;
    margin: 0 auto;
}


/* -----------------------------------------------section_banner------------------------------------------ */
#wrap #main .wrap .section_wrapper #section_banner {
    position: relative;
    top: 0px;
    left: 0px;

}

#wrap #main .wrap .section_wrapper #section_banner .banner {
    width: 100%;
    /* height: 100vh; */
}


#wrap #main .wrap .section_wrapper #section_banner .banner #pc {
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
    display: block;
}

#wrap #main .wrap .section_wrapper #section_banner .banner #mobile {
    display: none;
}

#wrap #main .wrap .section_wrapper #section_banner .content {
    position: absolute;
    top: 30%;
    left: 10.417vw;
    /* width: 48.385vw; */
    z-index: 1;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header {
    /* height: 133px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header {

    width: 100%;
    margin-bottom: 2vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header img {
    width: 3.594vw;
    height: 3.594vw;
    /* margin-bottom: 21px; */
    margin-bottom: 1.5vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .header .title {
    width: 100%;
    font-weight: 500;
    font-size: 2vw;
    /* line-height: 43px; */
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: -0.02em;
    /* margin-bottom: 28px; */
}


#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body {
    margin-bottom: 3vw;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title {
    font-weight: 700;
    font-size: 3vw;
    /* line-height: 68px; */
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    /* margin-bottom: 37px; */
    /* width: 926px; */
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .body .title .firstParam {
    margin-bottom: 10px;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer {
    width: 500px;
    height: 72px;
    /* background-color:yellow; */
    display: flex;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a {
    /* width: 240px;
    height: 72px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; */
    /* width: 240px; */
    width: 12.5vw;
    /* height: 72px; */
    height: 3.75vw;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px 0 0;
}

#wrap #main .wrap .section_wrapper #section_banner .content .content_wrap .footer a .click_btn {
    font-weight: 300;
    /* font-size: 30px; */
    font-size: 1.8vw;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

#wrap #main .wrap .section_wrapper #section_banner .Preview_container {
    width: 19.583vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 3.125vw;
    right: 3.125vw;
    
    /* background-color: pink; */

}


#wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper {
    position: relative;
    width: calc(50% - 15px);
}

#wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper .Preview {}


#wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper img {
    border-radius: 10px;
    width: 100%;

}

#wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper .Preview::after {
    content: "";
    display: block;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    transition: opacity .2s;
    border-radius: 10px;
}

#wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper .indicator {
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    transition: opacity .3s, visibility .3s;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.3);
    /* overflow: hidden;
    visibility: hidden;
    opacity: 0; */
    margin: 5px 0 0 0;
}

#wrap #main .wrap .section_wrapper #section_banner .Preview_container .Preview_wrapper .indicator::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    transform: translateX(-1%);
    /* transform: translateX(100%); */

}

#wrap #main .wrap .section_wrapper #section_banner .scroll_container {
    position: absolute;
    top: 87%;
    left: 49.375vw;
}



#wrap #main .wrap .section_wrapper #section_banner .scroll_wrapper{
    width:5.365vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transition: opacity .2s;
}


#wrap #main .wrap .section_wrapper #section_banner .scroll_container .scroll_wrapper .mouse {
    width: 5.365vw;
    height: 2.3vw;
    /* background-color:blue; */
    background-image: url(/images/scroll.png);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes scroll {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}


#wrap #main .wrap .section_wrapper #section_banner .scroll_container .scroll_wrapper .line {
    width: 0.052vw;
    height: 3.490vw;
    overflow: hidden;
    margin: 0 0 0 0.7vw;

}

#wrap #main .wrap .section_wrapper #section_banner .scroll_container .scroll_wrapper .line::after {
    content: "";
    display: block;
    background: #fff;
    -webkit-animation: scroll  2s 0s infinite;
    animation: scroll 2s 0s infinite;
    height: 100%;
    box-sizing: border-box;
}


/*------------------------------------------------section_product------------------------------------------*/
#wrap #main .wrap .section_wrapper #section_product {
    width: 100%;
    padding: 72px 0 0 0;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap {
    width: 79.167vw;
    margin: 0 auto;
    overflow: hidden;
}


#wrap #main .wrap .section_wrapper #section_product .header .title_wrapper {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0 0 15px;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

}


#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container img {
    border-radius: 20px;
    width: 100%;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container {
    width: calc(50% - 20px);
    margin: 0 0 20px 0;
    overflow: hidden;
    position: relative;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .darkness{
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition:0.1s;
    color:#F0F2F2;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container:hover .darkness{
    opacity: 1;
}


#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer {
    width:217px;
    height:94px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items:center;
}
#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer_1 {
    display: none;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer h2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 11px;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer .more_btn {
    width: 120px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap #main .wrap .section_wrapper #section_product .container_wrap .content_wrap .container .container_footer .more_btn  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;    
    color: #000000;
}


/* 
.darkness {
    position:absolute;
    top:0;
    left:0;
    width:inherit;
    height:inherit;
    background:#000000;
    opacity:0;
    transition:all .6s linear;
  }
  
  .btn-plus {
    position:absolute;
    top:70px;
    left:70px;
    background:red;
    width:55px;
    height:55px;
    border-radius:50%;
    text-align:center;
    opacity:0;
    transform:scale(2);
    transition:all .3s linear;
  }
  
  .btn-plus span {
    font-size:2.3em;
    color:#ffffff;
    user-select:none;
  }
  

  .img-wrapper:hover .darkness{
    opacity:0.4;
  }
  

  .img-wrapper:hover .btn-plus {
    opacity:1;
    transform:scale(1);
  } */


/* ---------------------------------------------section_menu----------------------------------------------- */

#wrap #main .wrap .section_wrapper #section_menu {
    width: 100%;
    padding: 0 0 140px 0;
    height: 1387px;
    display: flex;
    align-items: flex-end;
    background: url("/images/change_black_bg.png") no-repeat 50% 50%;
    ;
}

#wrap #main .wrap .section_wrapper #section_menu .menu_wrapper {
    width: 79.167vw;
    margin: 0 auto;
}

#wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul {
    /* width: 1520px; */
    height: 528px;
}

#wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li {
    width: 100%;
    height: 132px;
    border-bottom: 1px solid #6C6C6C;
    display: flex;
    align-items: center;
}

#wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li a {
    font-weight: 500;
    font-size: 3.646vw;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #6C6C6C;
}

#wrap #main .wrap .section_wrapper #section_menu .menu_wrapper ul li a:hover {
    color: #FFFFFF;
}