/* z-index 
header:100 
main:1 
wrap:1
section_wrapper :2
Preview::after :3
indicator:3
footer:1 */

#wrap {
    width: 100%;
    height: 100vh;
    background-color: #F0F2F2;
}

#wrap #main {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

#wrap #main .wrap {
    z-index: 1;
    position: relative;
}

#wrap #main .wrap .section_wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #F0F2F2;
    margin: 0 auto;
}

#wrap #main .wrap .section_wrapper #section_news {
    position: relative;
    top: 0px;
    left: 0px;
    height:100vh;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap {
    width: 79.167vw;
    margin: 0 auto;
    margin-top: 172px;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap h2 {
    text-align: center;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 28px;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list {
    display: flex;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li {
    z-index: 2;
    width: 493px;
    display: flex;
    margin: 0 20px 0 0;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a {
    display: block;
    padding: 29px 0 35px 0;
    text-decoration: none;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a>span {
    display: inline-block;
    width: 102px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'pointB';
    font-size: 15px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a img {
    width: 25.677vw;
    margin-bottom: 14px;
    object-fit: cover;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 {
    margin: 0 0 16px 0;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .category {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0 20px 0 0;

}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .bar {
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 28px;
    background: #929292;
}

#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a h1 .day {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #929292;
    margin: 0 0 0 20px;
}


#wrap #main .wrap .section_wrapper #section_news .container_wrap .news_list li a>p {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
}


#wrap #main .wrap .section_wrapper #section_news .container_wrap .pagination_wrap {
    width: 100%;
    display: block;
    margin-top: 60px;
    text-align: center; 
    position: relative;
}

/* swiper*/
.button_wrap {
    width: 176px;
    height: 30px;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}

.pagination {
    position: absolute;
    top: -1px;
}


.news .swiper-button-next {
    width: 18px;
    height: 30px;
    background: url(/images/btn_arrow.png) no-repeat !important;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.news .swiper-button-prev {
    background: url(/images/btn_arrow.png) no-repeat !important;
}

.news .swiper-button-next:after,
.news .swiper-rtl .swiper-button-prev:after {
    display: none;
}

.news .swiper-button-prev:after,
.news .swiper-rtl .swiper-button-next:after {
    display: none;
}


.news .swiper-pagination-bullet-active {
    background: transparent !important;
}

.news .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.news .swiper-pagination-bullet {

    background: transparent !important;
}

.news .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.news .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {

    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.news .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.news .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;

}